.subscription-section {
    background-image: url(../images/glitch-background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 35px;
}

.form-title {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #f4f4f4;
    background-color: #000000;
    border-radius: 15px 0 15px 0;
    width: 20%;
    min-width: 270px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.form-structure {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    box-shadow: 5px 10px #FF33FB;
    color: #f4f4f4;
    border-top: 2px #0213FB solid;
    border-left: 2px #0213FB solid;;
    border-right: 3px #40FF33 solid;
    border-bottom: 6px #40FF33 solid;;
}

.aplication-form {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.welcome-message {
    font-size: 17px;
    text-decoration: underline;
    font-weight: 700;
}

.instruction {
    text-align: center;
    width: 90%;
    font-size: 15px;
}

.data-subscription {
    background-color:#000000;
    border-top: 2px solid #CA1AE9;
    border-left: 2px solid #CA1AE9;
    border-bottom: 2px solid #1ACEE9;
    border-right: 2px solid #1ACEE9;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.send-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    min-width: 20%;
    
}

.button-submit {
    width: 100%;
    margin-top: 12px;
}

.data-name{
    color: #f4f4f4;
}

.error-message {
    background-color: #FF33FB;
    font-size: 9px;
    display: none;
}
